//can modify colors, styles etc
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/bootstrap"; //the whole bootstrap

//color pallettes
$active_btn_color: #30BCED;
$sleep_color : #00008B;
$healthy_color: #E3B505;
$steps_color: #62C370;
$goals_title: white;

$submit_health : #F17300;
$submit_steps: #31493C;
$submit_sleep : #6611EE;
//customized styles
$primary: $active_btn_color;
.btn-primary{
    background-color: #6611EE;
}
.btn-primary:hover{
    background-color: $sleep_color;
}
.bg-image{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width:80%;
}

.bg-image .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fff;
    background-color: hsla(0, 0%, 0%, 0.6)
}

.bg-image .mask .text{
    height: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.bg-image .mask .text p{
    margin:0;
}
.eepy{  
    background-color: $sleep_color;
    color:whitesmoke;
}
.eepy .card-title{
    color:$goals_title;
}
.step{
    background-color: $steps_color;
}
.step .card-title{
    color:$goals_title;
}
.wgt{
    background-color: $healthy_color;
}
.wgt .card-title{
    color:$goals_title;
}
.goals-content{
    background-color: whitesmoke;
    padding:10px;
}
.goal-display-option .btn-secondary{
    background-color: grey;
}
.goal-display-option .btn-check:checked + .btn-secondary{
    background-color: $active_btn_color;
    color:black;
}
.sub_category_text{
    width: auto;
    padding: 5px;
}
.form-group{
    margin-bottom: 10px;
}
.external-link-steps{
    background-color: $submit_steps;
    border-color:$steps_color;
    color:whitesmoke;
}
.external-link-steps:hover{
    cursor:pointer;
    background-color: $steps_color;
    border-color:$submit_steps;
    color:whitesmoke;
}
.external-link-health{
    background-color: $submit_health;
    border-color:#E3B505;
    color:whitesmoke;
}
.external-link-health:hover{
    cursor:pointer;
    background-color: $healthy_color;
    border-color:$submit_health;
    color:whitesmoke;
}
.external-link-sleep{
    background-color: $submit_sleep;
    border-color: $sleep_color;
    color:whitesmoke;
}
.external-link-sleep:hover{
    cursor:pointer;
    background-color: $sleep_color;
    border-color: $submit_sleep;
    color:whitesmoke;
}
.description_aside{
    background: whitesmoke;
    color:black;
    border: 2px solid $sleep_color;
}
.description_aside:hover{
    cursor:context-menu;
    border: 3px solid $submit_sleep;
}