<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
  {{^user}}
    <a class="navbar-brand" href="/" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
  {{/user}}
  {{#user}}
    <a class="navbar-brand" href="/home" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
  {{/user}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals centre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h3 class="card-title border-0"> Meet our Team </h3>  
             <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
    <!-- content -->
    <div class="container">

  <h2>About Trackfriend</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="/icons/sleeping_zz.png" class="card-img-top" alt="image of a drawn half moon with a blanket on top, representing wellbeing">
        <div class="card-body">
          <h5 class="card-title">Wellbeing</h5>
          <p class="card-text">Scheduling rest times, keeping track of the amount of rest getting statistics related to your habits will help you get better sleep!</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/icons/nutrition.png" class="card-img-top" alt="image of a drawn block note used to plan nutrition">
        <div class="card-body">
          <h5 class="card-title">Nutrition</h5>
          <p class="card-text">Keeping track of your nutrition will now be easy! with an intuitive Interface and easy to set goals it’s kid’s play! set calories to loose, keep track of them and ensure getting an achivement!</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/icons/dumbbell.png" class="card-img-top" alt="an image of a drawn heart with a dumbell next to it, representing Fitness">
        <div class="card-body">
          <h5 class="card-title">Fitness</h5>
          <p class="card-text">keeping track of exercies , steps, runs and other outdoors/ indroors activities is easibly achievable with Trackfriend</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="card mx-auto" style="width: 80%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="images/TeamMember.jpg" class="img-fluid img-thumbnail rounded-circle" alt="a team member at {{company_name}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">Alessandro Conia</h2>
                <p class="card-text">Lead site engineer, senior developer at {{company_name}}, Computing graduate with honours at GCU (Glasgow).</p>
                <a href="#" class="btn btn-primary">Find out more</a>
            </div>
        </div>
    </div>
</div>
           
    </body>
</html>