<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals centre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h3 class="card-title border-0"> Meet our Team </h3>  
             <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
    <!-- content -->
    
    <div class="d-flex flex-row card border-0 mx-auto" style="width:80%;"> <!-- was card , then card body, title and text -->
        <div class="p2 card-body border-0">
            <img class="img-fluid img-thumbnail rounded-circle" src="images/TeamMember.jpg" style="max-width:50%;height:auto"alt="a team member at {{company_name}}">
            
        </div>
        <div class="card-body border-0 me-auto my-auto">
            
            <h2 class="card-title"style="width:75%;">Alessandro Conia</h1>  
            <p class="card-text" style="width:70%;">Lead site engineer, senior developer at {{company_name}}, Computing graduate with honours at GCU (Glasgow).</p>
            <br>
            <a class="btn btn-primary">find out more ></a>
        </div>
    </div>
           
    </body>
</html>