<head>
    <meta charset="utf-8">
    <!-- this viewport meta tag configures the mobile device viewport behavior -->
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- this meta tag enables the web site to become a mobile web app (iDevices)e -->
	<meta name="mobile-web-app-capable" content="yes" />
    <!-- website icon -->
    <link rel="icon" type="images/x-icon" href="images/phone_icon.png">
    <meta name="author" content="Alessandro Conia" />
	<meta name="description" content="A web application that uses various technologies">
    <title>{{title}}</title><!-- the page title -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/custom_styling.css">
</head>