<html lang="en">
    <head>
        {{>header}}
    </head>
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals centre</a>
        </li>
        
         {{^user}}
       <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
        {{/user}}
         {{#user}}
          <li class="nav-item">
          <a class="nav-link" href="/info">About us</a>
        </li>
        {{/user}}
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body>   
    <div class="card border-0">
        <div class="card-body border-0">
            <h3 class="card-title border-0"> Welcome to {{company_name}}'s {{title}} page </h3>  
        </div>
    </div>
    <!-- content -->
  <div class="d-flex flex-column card border-0 mx-auto" style="width:100%;">
  <div class="p-2 card-body border-0 text-center">
    <h2 class="card-title">Start balancing your life’s most important aspects, sign up for {{company_name}} now.</h2>  
    <p class="card-text">Do you want to initiate healthy habits and keep track of your progress? {{company_name}} is for you</p>
    <br>
    <a class="btn btn-primary btn-lg" href="/register">Start now for free</a>
  </div>
  <div class="card-body border-0 mx-auto">
    <img src="images/trendy_relaxing.jpg" class="img-fluid">
  </div>
</div>
           
    </body>
</html>