<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md" style="background-color: #ffe4f4;"> <!-- was  #e3f2fd -->
    <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto"> <!--was mr -->
            <a class="navbar-brand" href="#" style="font-size:1.75rem">
            <img src="images/phone_icon.png" width="30" height="30" alt="a picture of the Trackfriends logo">
            TrackFriend
            </a>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/achievements">Achievements</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/goals">Goals centre</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/about">About us</a>
            </li>
        </ul>
        </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"> <!-- was order 3 -->
    <ul class="navbar-nav ms-auto">
        {{^user}}
            <li class="nav-item">
                <a class="nav-link" id="login" href="/login">Sign in</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link btn btn-primary active" id="register" href="/register">Register</a> <!-- might remove the btn -->
            </li> 
        {{/user}}
        {{#user}} <!-- if there's a user -->
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/logout">Sign out</a> <!-- might remove the btn -->
            </li>
        {{/user}}
        </ul>
        </div>
        </div> <!--container-->
    </div>
</nav>
    <body>   
    <!-- content -->
    <div class="d-flex flex-row card border-0 mx-auto justify-content-between" style="width:80%;"> 
        <div class="p2 card-body border-0">
             <!-- image of young person registering goes here-->
            <img class="img-fluid rounded" src="images/register_background.PNG" style="max-height:100vh;max-width:60vw;height:auto;width:100%"alt="an image of a young person registering">
        </div>
        <div class="card-body border-0 me-auto my-auto">
            
            <h2 class="card-title"style="width:75%;">Register</h1>  
            <br>
            <p class="card-text">already have an account? <a href="/login">login instead</a></p>
            <form method="post" role="/register" class="border-0">
            <div class="form-group w-50">
                {{user_name_error}}
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="" required>
                <br>
            </div>
            <p class="text-danger">{{password_error}}</p>
            <div class="form-group w-50">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" minlength="8"  required>
                <br>
            </div>
            <div class="form-group w-50">
                <label for="repeat_password">Repeat Password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="" minlength="8"  required>
                <br>
            </div>
            <div class="form-check w-50">
                <input class="form-check-input" type="checkbox" value="" id="tosCheck" onchange="validate()" required>
                <label class="form-check-label" for="tosCheck">
                I Accept {{company_name}} Account terms and conditions including the mobile application <a href="#">Terms of Service and data storage policies </a>.
                </label>
                <br>
            </div>
            <div class="form-group">
            <div class="mx-auto">
                <br>
                <input type="submit" id="register_btn" value="Register" class="btn btn-primary btn-lg" disabled>
            </div>
                
            </div>
            </form>
        </div>
    </div>
    <script>
    function validate() {
        let reg_btn = document.getElementById("register_btn");
        if (document.getElementById('tosCheck').checked) {
            reg_btn.disabled = false;
        } else {
             reg_btn.disabled = true;
        }
    }
    </script>
           
    </body>
</html>