<html lang="en">
   <head>
        {{>header}}
   </head>
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals centre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body>   
    <!-- content -->
<div class="d-flex flex-row card border-0 mx-auto justify-content-between" style="width:80%;">
  <div class="p2 card-body border-0 hide_on_small">
    <img class="img-fluid rounded resize_on_small" src="images/register_background_2.jpg" style="max-height:80vh;height:auto;width:auto" alt="an image of a young person registering">
  </div>
  <div class="card border-0 mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Register</h2>  
      <br>
      <p class="card-text">already have an account? <a href="/login">login instead</a></p>
      <form method="post"  action="/register" class="border-0"> <!--  role="/register" -->
        <p class="text-danger">{{user_name_error}}</p>
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="" required>
          <br>
        </div>
        <p class="text-danger">{{password_error}}</p>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="" minlength="8" aria-label="first_password" required>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters: letters, numbers and special characters are valid.
          </small>
        </div>
        <div class="form-group">
          <label for="repeat_password">Repeat Password</label>
          <input type="password" class="form-control" id="password2" name="password2" placeholder="" minlength="8" aria-label="second_password" required>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters: letters, numbers and special characters are valid.
          </small>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="tosCheck" onchange="validate()" required>
          <label class="form-check-label" for="tosCheck">
            I Accept {{company_name}} Account terms and conditions including the mobile application <a href="/about">Terms of Service and data storage policies </a>.
          </label>
          <br>
        </div>
        <div class="mx-auto">
          <br>
          <input type="submit" id="register_btn" value="Register" class="btn btn-primary btn-lg" disabled>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/scripts/registerHandler.js"></script>     
</body>
</html>