<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md" style="background-color: #ffe4f4;"> <!-- was  #e3f2fd -->
    <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto"> <!--was mr -->
            <a class="navbar-brand" href="#" style="font-size:1.75rem">
            <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
            TrackFriend
            </a>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/achievements">Achievements</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/goals">Goals centre</a>
            </li>
            <li class="nav-item my-auto active">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"> <!-- was order 3 -->
    <ul class="navbar-nav ms-auto">
        {{^user}}
            <li class="nav-item">
                <a class="nav-link " id="login" href="/login">Sign in</a>
            </li>
            
            <li class="nav-item">
                <a class="btn btn-primary" id="register" href="/register">Register</a> <!-- might remove the btn -->
            </li> 
        {{/user}}
        {{#user}} <!-- if there's a user -->
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/logout">Sign out</a> <!-- might remove the btn -->
            </li>
        {{/user}}
        </ul>
        </div>
        </div> <!--container-->
    </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h3 class="card-title border-0"> Welcome back {{user_name}}</h3>  
             <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
    <!-- content -->
    {{^weight_info}}
    <!--
    <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Thank you for registering!</strong> You should consider adding additional information to your profile, such as your weight, please do so at your own time by clicking <a href="/addinfo">Here</a>
  </div>
-->
  <div class="alert alert-info alert-dismissible fade show" id="weight_alert">
        <strong>Thank you for registering!</strong> You should consider adding additional information to your profile, such as your weight, please do so at your own time by clicking <a href="/addinfo">Here</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" id="closingAlrt"></button>
    </div>
    {{/weight_info}}
    <div class="d-flex "> <!-- flex-row border-0 mx-auto-->
    <div class="flex-fill p-2">
    <img class="img-fluid img-thumbnail" src="images/run_start.jpg" style="max-width:50%;height:auto"alt="a customer of {{company_name}} preparing to run">
    </div>
    <div class="flex-even bg-info p-2">
    <p class="card-text">Sleep</p>
    
    </div>
    <div class="flex-even bg-info p-2">
    <p class="card-text">weight loss</p>
    
    </div>
    <div class="flex-even bg-info p-2 ">
    <p class="card-text">Steps</p>
    </div>
    </div>
    <script>
    let alert_x =document.getElementById("closingAlrt");
    let alert_element =document.getElementById("weight_alert");
    alert_x.addEventListener("click", function(){
        alert_element.classList.remove("show");
        alert_element.remove();
    })
    </script>
    </body>
</html>