<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md" style="background-color: #ffe4f4;"> <!-- was  #e3f2fd -->
    <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto"> <!--was mr -->
            <a class="navbar-brand" href="#" style="font-size:1.75rem">
            <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
            TrackFriend
            </a>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/achievements">My Achievements</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link active" href="/goals">Goals centre</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/newGoal">Add Goal</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"> <!-- was order 3 -->
    <ul class="navbar-nav ms-auto">
        {{^user}}
            <li class="nav-item">
                <a class="nav-link " id="login" href="/login">Sign in</a>
            </li>
            
            <li class="nav-item">
                <a class="btn btn-primary" id="register" href="/register">Register</a> <!-- might remove the btn -->
            </li> 
        {{/user}}
        {{#user}} <!-- if there's a user -->
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/logout">Sign out</a> <!-- might remove the btn -->
            </li>
        {{/user}}
        </ul>
        </div>
        </div> <!--container-->
    </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h2 class="text-info">{{user_name}} , what goal have you in plan for <a href="#" class="text-primary" style="text-decoration:none;">{{day_name}}?</a></h2>
            <h4 class="text-secondary">Don't like the date set for the goal? <b class="text-success">Don't worry!</b> You can select a different date below:</h4>
            <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
    <!-- content -->
    <!-- goals -->
    <!-- remove description from here and add it in the welcome page as wireframe shows -->
    <div class="row mx-auto justify-content-center">
        <div class="col-sm-2">
            <div class="card text-center eepy">
                <div class="card-body">
                    <h5 class="card-title">Rest</h5>
                    <!-- image of Sleep -->
                    <div class="bg-image mx-auto">
                        <img src="icons/sleeping_goal.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your wellbeing</b></p>
                    <br>
                    <a href="/newGoal/{{todays_date}}/sleep" class="btn btn-primary external-link-sleep">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/sleep" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center wgt">
                <div class="card-body">
                    <h5 class="card-title">Nutrition</h5>
                    <!-- image of weight loss -->
                    <div class="bg-image mx-auto">
                        <img src="icons/eating_goal.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your Nutrition</b></p>
                    <br>
                    <a href="/newGoal/{{todays_date}}/health" class="btn btn-primary external-link-health">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/health" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center fitness">
                <div class="card-body">
                    <h5 class="card-title">Fitness</h5>
                    <!-- image of Steps -->
                    <div class="bg-image mx-auto">
                        <img src="icons/fitness.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your Fitness</b></p>
                    
                    <br>
                    <a href="/newGoal/{{todays_date}}/steps" class="btn btn-primary external-link-steps">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/steps" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
      </div>
  </div>
    </body>
</html>