<html lang="en">
   <head>
        {{>header}}
   </head>
   <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home" style="font-size: 1.75rem;">
      <img src="images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/goals">Goals centre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newGoal/{{todays_date}}/wellbeing">Add Goal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link active" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h2 class="text-info">{{user_name}} , what goal have you in plan for <b class="text-primary day_placeholder" style="text-decoration:none;">{{day_name}}?</b></h2>
            <h4 class="text-secondary">Don't like the date set for the goal? <b class="text-success">Don't worry!</b> You can select a different date in the calendar below:</h4>
            <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
            <div class="row mx-auto justify-content-center">
            <div class="form-group justify-content-center ">
                <label for="begin">Goal start Date</label>
                <input type="date" name="begin" id="goal_start_date" placeholder="dd-mm-yyyy" value="" min="{{todays_date}}" max="2030-12-31" lang="en-GB" required>
            </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <!-- goals -->
    <div class="row mx-auto justify-content-center">
        <div class="col-sm-2">
            <div class="card text-center eepy">
                <div class="card-body">
                    <h5 class="card-title">Rest</h5>
                    <!-- image of Sleep -->
                    <div class="bg-image mx-auto">
                        <img src="icons/sleeping_goal.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your wellbeing</b></p>
                    <br>
                    <a href="/newGoal/{{todays_date}}/wellbeing" class="btn btn-primary external-link-sleep">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/sleep" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center wgt">
                <div class="card-body">
                    <h5 class="card-title">Nutrition</h5>
                    <!-- image of weight loss -->
                    <div class="bg-image mx-auto">
                        <img src="icons/eating_goal.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your Nutrition</b></p>
                    <br>
                    <a href="/newGoal/{{todays_date}}/nutrition" class="btn btn-primary external-link-health">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/health" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center fitness">
                <div class="card-body">
                    <h5 class="card-title">Fitness</h5>
                    <!-- image of Steps -->
                    <div class="bg-image mx-auto">
                        <img src="icons/fitness.png" class="w-100" />
                    </div>
                    <br>
                    <p class="text-light"><b>Manage your Fitness</b></p>
                    
                    <br>
                    <a href="/newGoal/{{todays_date}}/fitness" class="btn btn-primary external-link-steps">create goal</a>
                    <br>
                    <a href="/goals/{{todays_date}}/steps" class="btn btn-warning modify_btn">update goal</a>
                </div>
            </div>
        </div>
      </div>
  </div>
    </body>
    <script src ="scripts/checkdate.js"></script>
</html>