<html lang="en">
   <head>
        {{>modifiedHeader}}
   </head>
  <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #ffe4f4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home" style="font-size: 1.75rem;">
      <img src="../../../images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
      TrackFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals centre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/newGoal/{{todays_date}}/wellbeing">Add Goal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{^user}}
        <li class="nav-item">
          <a class="nav-link active" id="login" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" id="register" href="/register">Register</a>
        </li>
        {{/user}}
        {{#user}}
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/logout">Sign out</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
    <body> 
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h2 class="text-info">{{user_name}} , what Goal have you got in plan?</h2>
            <h4 class="text-secondary">Pick between the options below.</h4>
            <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
<!-- row with information test, remove if doesn't work -->
<div class="row mx-auto justify-content-center">
<!-- content -->
<div class="col-sm-3 mx-auto">
    <div class="card text-center eepy" id="user_goal_choice">
        <div class="card-body">
            <h5 class="card-title">Adding a Goal for <b id="goal_type" class="text-primary">{{chosenGoalType}}</b></h5>
            <!-- form for the new goal -->
            <form action="/newGoal" method="post" role="form" id="createGoalForm">
            <!-- calendar -->
                <div class="form-group justify-content-center ">
                    <label for="begin">Start Date</label>
                    <input type="date" name="begin" id="goal_start_date" placeholder="dd-mm-yyyy" value="{{date_value}}" min="{{todays_date}}" max="2030-12-31" lang="en-GB" required>
                </div>
                <div class="form-group">
                    <label for="begin">End Date</label>
                    <input type="date" name="end" id="goal_end_date" placeholder="dd-mm-yyyy" value="{{date_value}}" min="{{todays_date}}" max="2030-12-31" lang="en-GB" required>
                </div>
                <div class="form-group">
                    <p class="text-light goal_info_label">Goal repetition <i class="text-secondary">Optional</i></p>
                </div>
                <!--selectable option for frequency of goal-->  
                <div class="form-group">
                    <div class="btn-group goal-display-option">
                        <input type="radio" class="btn-check" name="repetition_option" id="dayOption" autocomplete="off" value="day"/> 
                        <label class="btn btn-secondary" for="dayOption">Day</label>
                        <input type="radio" class="btn-check" name="repetition_option" id="weekOption" autocomplete="off" value="week" />
                        <label class="btn btn-secondary" for="weekOption">Week</label>
                        <input type="radio" class="btn-check" name="repetition_option" id="monthOption" autocomplete="off" value="month" />
                        <label class="btn btn-secondary" for="monthOption">Month</label>
                    </div>
                </div>
                <div class="form-group">
                    <p class="text-light goal_info_label">Goal type? </p>
                    <!--selectable option for Type of goal-->
                    <div class="btn-group goal-display-option">
                        <input type="radio" class="btn-check" name="type_option" id="sleepOption" autocomplete="off" value="sleep"checked /> 
                        <label class="btn btn-secondary" for="sleepOption">Wellbeing</label>
                        <input type="radio" class="btn-check" name="type_option" id="healthOption" autocomplete="off" value="health" />
                        <label class="btn btn-secondary" for="healthOption">Health</label>
                        <input type="radio" class="btn-check" name="type_option" id="fitnessOption" autocomplete="off" value="steps" />
                        <label class="btn btn-secondary" for="fitnessOption">Fitness</label>
                    </div>
                </div>
                <!-- subclass choice -->
                <div class="form-group">
                    <label for="subCategoryPicker" class="text-light goal_info_label">Subcategory</label><br>
                    <select id="subCategoryPicker" name="subcategory" class="col-sm-9 custom-select custom-select-sm"></select>
                </div>
                <div class="form-group">
                   <label for="goalDescription" class="text-light goal_info_label">Description</label><br>
                   <textarea id="goalDescription" name="description_area" rows="3" cols="40" placeholder="I want to .." required></textarea>
                </div>
                <div class="form-group">
                   <label for="goalEndValue" class="text-light goal_info_label">Goal numerical objective?</label>
                   <p class="text-light goal_info_label" id ="goalEndValueDescription"></p>
                   <input type="number" name="endValueNumber" id="endValueNumber" min="0" max="" value="0" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-submit submit_goal" value="create" >
                </div>
            </form>
        </div>
    </div>
</div>
<!--aside -->
<div class="col-sm-3 mx-auto">
    <div class="card text-center description_aside" id="goals_description">
        <div class="card-body">
            <h5 class="card-title">Contents description</h5>
            <p class="card-text text-dark">the field "<b class="text-info">Subcategory</b> defines subcategories for Goals,<br>
            such subcategories will be described down below:
            </p>
            <h5><b class="text-info" id="subCategoryName" name="subcategoryname"></h5>
            <textarea id="subcategoryDescription" name="subDescription" rows="4" cols ="40" placeholder="select a subcategory to learn more" readonly></textarea>
        </div>
    </div>
</div>
</div> <!-- end of row -->
<script src="/scripts/handleNewGoals.js"></script> 
</body>
</html>