<html lang="en">
   <head>
        {{>modifiedHeader}}
   </head>
   <nav class="navbar navbar-expand-md" style="background-color: #ffe4f4;"> <!-- was  #e3f2fd -->
    <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto"> <!--was mr -->
            <a class="navbar-brand" href="#" style="font-size:1.75rem">
            <img src="../../../images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
            TrackFriend
            </a>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/achievements">My Achievements</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/goals">Goals centre</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/newGoal/{{todays_date}}/wellbeing">Add Goal</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"> <!-- was order 3 -->
    <ul class="navbar-nav ms-auto">
        {{^user}}
            <li class="nav-item">
                <a class="nav-link " id="login" href="/login">Sign in</a>
            </li>
            
            <li class="nav-item">
                <a class="btn btn-primary" id="register" href="/register">Register</a> <!-- might remove the btn -->
            </li> 
        {{/user}}
        {{#user}} <!-- if there's a user -->
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/logout">Sign out</a> <!-- might remove the btn -->
            </li>
        {{/user}}
        </ul>
        </div>
        </div> <!--container-->
    </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h2 class="text-info">{{user_name}} , which goal would you like to modify for <b class="text-primary">{{day_name}}</b> ({{todays_date}})?</h2>
            <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
             {{#type_sleep}}
            <h3 class="text_info"> you're currently viewing Goals of the category of <b class="text-success" id="goal_category">Wellbeing</b></h3>
            <a class="btn btn-info" href="/goals/{{todays_date}}/health">go to Nutrition</a>
            <a class="btn btn-info" href="/goals/{{todays_date}}/steps">go to Fitness</a>
            {{/type_sleep}}
            {{#type_health}}
            <h3 class="text_info"> you're currently viewing Goals of the category of <b class="text-success" id="goal_category">Nutrition</b></h3>
            <a class="btn btn-info" href="/goals/{{todays_date}}/sleep">go to wellbeing</a>
            <a class="btn btn-info" href="/goals/{{todays_date}}/steps">go to Fitness</a>
            {{/type_health}}
            {{#type_steps}}
            <h3 class="text_info"> you're currently viewing Goals of the category of <b class="text-success" id="goal_category">Fitness</b></h3>
            <a class="btn btn-info" href="/goals/{{todays_date}}/sleep">go to wellbeing</a>
            <a class="btn btn-info" href="/goals/{{todays_date}}/health">go to Nutrition</a>
            {{/type_steps}}
        </div>
    </div>
    <!-- content -->
    <!-- goals -->
    {{#type_sleep}}
    <div class="row mx-auto justify-content-center">
        <div class="col-sm-3 mx-auto">
            <div class="card text-center eepy">
                <div class="card-body">
                    <h5 class="card-title">Sleep</h5>
                    <!-- image of Sleep -->
                    <div class="bg-image mx-auto">
                        <img src="../../../icons/sleeping_goal.png" class="w-50" />
                    </div>
                    <br>
                    <!--  if there's a goal -->
                    {{#sleeping_goals}}
                     <form action="/updateGoal" method="post" name="form_update" class="justify-content-center"> <!-- updates current value -->
                    <input type="text" name="goalId" id="goalId" value="{{_id}}" hidden>
                    <input type="text" name="form_category_name" id="form_category_name" value="" hidden>
                    <h3 class="text-light">Your wellbeing set goal: <b class="text-warning">{{endValue}}</b></h3>
                    <div class="form-group">
                    <label for="subcategorytext" class="text-light">subcategory</label>
                    <input type="text" name="subcategorytext"class="card-text text-dark sub_category_text text-center"value="{{subcategory}}"disabled><br>
                    </div>
                    <div class="form-group">
                    <label for="currentSleep" class="text-light">Current wellbeing recorded</label>
                    <input type="number" class="text-center" id="current_sleep_number" name="currentSleep" min="{{currentValue}}" max="{{endValue}}" value="{{currentValue}}" required>
                    </div>
                    <div class="form-group">
                    <label for="currentDescription" class="text-light">Description given</label>
                    <textarea id="currentDescription" name="description_area" rows="4" cols="40" required>{{description}}</textarea>
                    <p class="text-light">goal set on <b class="text-light">{{date}}</b> , to be completed before <b class="text-light">{{endDate}}</b></p>
                    </div>
                    <div class="form-group" >
                    <label for="completeGoalCheck" class="text-danger">Complete?</label> 
                    <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" role="switch" id="completeGoalCheck">
                    </div>
                    </div>
                    <div class="form-group">
                    <input type="submit" value="update goal" class="btn btn-info">
                    </div>
                    </form>
                    <br>
                      <form action="/deleteGoal" method="post">
                      <input type="text" name="goal_to_delete" id="goalId_to_delete" value="{{_id}}" hidden>
                    <input type="submit" value="Remove this goal" class="btn btn-danger">
                    </form>
                    {{/sleeping_goals}}
                    <!-- description if there's any goals -->
                    {{^sleeping_goals}}
                    <div class="card goals-content">
                    <p class="card-text text-secondary">You currently don't have any goals set for this category on this date</p>
                    <a href="/newGoal" class="btn btn-primary external-link-sleep">create goal</a>
                    </div>
                    {{/sleeping_goals}}
                   
                </div>
            </div>
        </div>
     {{/type_sleep}}
     {{#type_health}}
        <div class="col-sm-3 mx-auto">
            <div class="card text-center wgt">
                <div class="card-body">
                    <h5 class="card-title">Weight loss</h5>
                    <!-- image of weight loss -->
                    <div class="bg-image mx-auto">
                        <img src="../../../icons/eating_goal.png" class="w-50" />
                    </div>
                    <br>
                    {{#health_goals}}
                    <form action="/updateGoal" method="post" name="form_update" class="justify-content-center"> <!-- updates current value -->
                    <input type="text" name="goalId" id="goalId" value="{{_id}}" hidden>
                    <input type="text" name="form_category_name" id="form_category_name" value="" hidden>
                    <h3 class="text-light">Your Diet set goal: <b class="text-danger">{{endValue}}</b></h3>
                    <div class="form-group">
                    <label for="subcategorytext" class="text-dark">subcategory</label>
                    <input type="text" name="subcategorytext"class="card-text text-dark sub_category_text text-center"value="{{subcategory}}"disabled><br>
                    </div>
                    <div class="form-group">
                    <label for="currentDiet" class="text-dark">Current diet value</label>
                    <input type="number" class="text-center" id="current_Diet_number" name="currentDiet" min="{{currentValue}}" max="{{endValue}}" value="{{currentValue}}" required>
                    </div>
                    <div class="form-group">
                    <label for="currentDescription" class="text-dark">Description given</label>
                    <textarea id="currentDescription" name="description_area" rows="4" cols="40" required>{{description}}</textarea>
                    <p class="text-dark">goal set on <b class="text-light">{{date}}</b>, to be completed before <b class="text-light">{{endDate}}</b></p>
                    </div>
                     <div class="form-group" >
                    <label for="" class="text-danger">Complete?</label> 
                    <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" role="switch" id="completeGoalCheck">
                    </div>
                    </div>
                    <div class="form-group">
                    <input type="submit" value="update goal" class="btn btn-info">
                    </div>
                    </form>
                    <br>
                     <form action="/deleteGoal" method="post">
                     <input type="text" name="goal_to_delete" id="goalId_to_delete" value="{{_id}}" hidden>
                    <input type="submit" value="Remove this goal" class="btn btn-danger">
                    </form>
                    {{/health_goals}}
                    <!-- description if there's no goals -->
                    {{^health_goals}}
                    <div class="card goals-content">
                    <p class="card-text text-secondary">You currently don't have any goals set for this category on this date</p>
                    <a href="/newGoal" class="btn btn-primary external-link-health">create goal</a>
                    </div>
                    {{/health_goals}}
                    
                </div>
            </div>
        </div>
        {{/type_health}}
        <!-- add progress bar -->
        <!-- add second progress bar that listens to change, if 100% it goes green , check progress bars colors -->
        <!-- add listener to input it has to be within min and max -->
        {{#type_steps}}
        <div class="col-sm-3 mx-auto">
            <div class="card text-center fitness">
                <div class="card-body">
                    <h5 class="card-title">Fitness</h5>
                    <!-- image of Steps -->
                    <div class="bg-image mx-auto">
                        <img src="../../../icons/fitness.png" class="w-50" />
                    </div>
                    <br>
                    {{#steps_goals}}
                    <form action="/updateGoal" method="post" name="form_update" class="justify-content-center"> <!-- updates current value -->
                    <input type="text" name="form_category_name" id="form_category_name" value="" hidden>
                    <input type="text" name="goalId" id="goalId" value="{{_id}}" hidden>
                    <h3 class="text-light">Your Fitness set goal: <b class="text-warning">{{endValue}}</b></h3>
                    <div class="form-group">
                    <label for="subcategorytext" class="text-dark">subcategory</label>
                    <input type="text" name="subcategorytext"class="card-text text-dark sub_category_text text-center"value="{{subcategory}}"disabled><br>
                    </div>
                    <div class="form-group">
                    <label for="currentSteps" class="text-dark">Current value</label>
                    <input type="number" class="text-center" id="current_steps_number" name="currentSteps" min="{{currentValue}}" max="{{endValue}}" value="{{currentValue}}" required>
                    </div>
                    <div class="form-group">
                    <label for="currentDescription" class="text-dark">Description given</label>
                    <textarea id="currentDescription" name="description_area" rows="4" cols="40" required>{{description}}</textarea>
                    <p class="text-dark">goal set on <b class="text-light">{{date}}</b> , to be completed before <b class="text-light">{{endDate}}</b></p>
                    </div>
                     <div class="form-group" >
                    <label for="" class="text-danger">Complete?</label> 
                    <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" role="switch" id="completeGoalCheck">
                    </div>
                    </div>
                    <div class="form-group">
                    <input type="submit" value="update" class="btn btn-info">
                    </div>
                    </form>
                    <br>
                    <form action="/deleteGoal" method="post">
                    <input type="text" name="goal_to_delete" id="goalId_to_delete" value="{{_id}}" hidden>
                    <input type="submit" value="Remove this goal" class="btn btn-danger">
                    </form>
                    {{/steps_goals}}
                    <!-- description if there's no goals -->
                    {{^steps_goals}}
                    <div class="card goals-content">
                    <p class="card-text text-secondary">You currently don't have any goals set for this category on this date</p>
                    <a href="/newGoal" class="btn btn-primary external-link-steps">create goal</a>
                    </div>
                    {{/steps_goals}}
                    
                    
                </div>
            </div>
        </div>
        {{/type_steps}}
      </div>
  </div>
   <script src="/scripts/updateGoalInfo.js"></script>
    </body>
</html>