<html lang="en">
   <head>
        {{>modifiedHeader}}
   </head>
   <nav class="navbar navbar-expand-md" style="background-color: #ffe4f4;"> <!-- was  #e3f2fd -->
    <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto"> <!--was mr -->
            <a class="navbar-brand" href="#" style="font-size:1.75rem">
            <img src="../../../images/phone_icon.ico" width="30" height="30" alt="a picture of the Trackfriends logo">
            TrackFriend
            </a>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/achievements">Achievements</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/goals">Goals centre</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="/newGoal">Manual Goal</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"> <!-- was order 3 -->
    <ul class="navbar-nav ms-auto">
        {{^user}}
            <li class="nav-item">
                <a class="nav-link " id="login" href="/login">Sign in</a>
            </li>
            
            <li class="nav-item">
                <a class="btn btn-primary" id="register" href="/register">Register</a> <!-- might remove the btn -->
            </li> 
        {{/user}}
        {{#user}} <!-- if there's a user -->
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/logout">Sign out</a> <!-- might remove the btn -->
            </li>
        {{/user}}
        </ul>
        </div>
        </div> <!--container-->
    </div>
</nav>
    <body>   
    <div class="card border-0 mx-auto">
        <div class="card-body border-0">
            <h2 class="text-info">{{user_name}} , what <b class="" id="goal_type_text">{{goal_type_name}}</b> goal have you got in mind for <a href="#" class="text-primary" style="text-decoration:none;">{{day_name}} ({{todays_date}})?</a></h2>
            <h4 class="text-secondary">You can also set goals of different lengths of time! check the options below to do so</h4>
            <hr class="mx-auto" style="height:2px; width:100%; border-width:0; color:red; background-color:#6611EE">
        </div>
    </div>
    <!-- content -->
    <!-- fix content in the middle -->
    <!--selectable option -->
    <div class="btn-group goal-display-option">
        <input type="radio" class="btn-check" name="repetition_option" id="dayOption" autocomplete="off" checked /> 
            <label class="btn btn-secondary" for="dayOption">Day Goal</label>
        <input type="radio" class="btn-check" name="repetition_option" id="weekOption" autocomplete="off" />
            <label class="btn btn-secondary" for="weekOption">Week Goal</label>
        <input type="radio" class="btn-check" name="repetition_option" id="monthOption" autocomplete="off" />
        <label class="btn btn-secondary" for="monthOption">Month Goal</label>
    </div>
    <!-- calendar -->
    <!-- form for the new goal -->
   
    </body>
    <script>
    let typeChosen=document.getElementById("goal_type_text");
    if(typeChosen.innerText == "health"){
 typeChosen.classList.add("text-warning");
    }
    if(typeChosen.innerText == "fitness"){
 typeChosen.classList.add("text-success");
    }
     if(typeChosen.innerText == "wellbeing"){
 typeChosen.classList.add("text-primary");
    }
   
    </script>
</html>